* {
  font-family: Arial, Helvetica, sans-serif;
}


html {
  box-sizing: border-box;
}


body {
  background-color: rgba(243, 241, 236, 0.705);
  margin: 0% 3%;
}


.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/***************  AddCategory  *****************/

.input-field {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}

.h2-input-value {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-categ {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.div-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.div-search p { 
  margin-right: 1rem;
  display: inline;
}

.div-select {
  margin-right: 1rem;
}

.input-btn {
  font-size: 1.2rem;
  width: 90px;
}

select, option {
  font-size: 1rem;
}

/***************  GifGrid  *****************/

.gif-grid {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  font-size: 1.3rem;
  margin: 2rem 0rem;
  text-align: center;
}

hr {

  background-color: rgb(241, 238, 230);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.1rem;
  height: 0.12rem;
  width: 90%;
}

/***************  GifGridItem  *****************/

.grid-item {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem ;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  border: solid 0.1rem grey;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 254);
}

.gif {
  max-height: 200px;
  max-width: 100%;
} 

/***************  Media Queries  *****************/

@media (max-width: 480px) {

  .div-search p { 
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }

  .input-btn {
    font-size: 1rem;
    width: 70px;
  }

  .h2-input-value {
    font-size: 1.2rem;
  }

}

@media (max-width: 340px) {

  select {
    margin-top: 0.5rem;
  }

  .h2-input-value {
    font-size: 1rem;
  }
}

